Q1. List any five functions of the pandas library with execution.

Answer1 - 

1. read_csv(): This function is used to read a CSV file and create a DataFrame object.

Example - 
        
        import pandas as pd
        df = pd.read_csv("data.csv")
        
2. head(): This function is used to display the first few rows of a DataFrame.
example -         
                
                print(df.head())


3. describe(): This function is used to generate descriptive statistics of a DataFrame, such as count, mean, standard deviation, etc.
Example - 

             print(df.describe())
4. groupby(): This function is used to group a DataFrame by one or more columns and perform an operation on the groups.
Example - 
          
          df_grouped = df.groupby(['category']).sum()

5. merge(): This function is used to combine two DataFrames based on a common column.
Example - 
                 
         df_merged = pd.merge(df1, df2, on='id')

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [2]:
#Answer - 

import pandas as pd

def reindex_df(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    df.index = new_index
    return df

In [3]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

In [4]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [5]:
df = reindex_df(df)

In [6]:
df

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [7]:
#Answer 3 -

import pandas as pd

def sum_first_three_values(df):
    total = 0
    for i in range(3):
        total += df.loc[i, 'Values']
    print(total)
    
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three_values(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
import pandas as pd

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].str.split().apply(len)
    return df

# create a sample dataframe
data = {'Text': ['This is a sentence', 'Another sentence', 'And a third sentence']}
df = pd.DataFrame(data)

# add the word count column
df = add_word_count_column(df)

print(df)

                   Text  Word_Count
0    This is a sentence           4
1      Another sentence           2
2  And a third sentence           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

Answer 5. DataFrame.size and DataFrame.shape are two different methods in Pandas DataFrame that are used to obtain different information about the DataFrame.

1. DataFrame.size method returns the number of elements in the DataFrame, i.e., the total number of cells in the DataFrame. This method returns an integer value.

For instance --

In [9]:
df2 = pd.DataFrame({'A':[1,2,3], 'B': [4,5,6]})

In [10]:
df2.size

6

2. DataFrame.shape method returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows and columns in the DataFrame. This method returns a tuple of integers.

For example - -

In [11]:
df3 = pd.DataFrame({'A':[1,2,3], 'B': [4,5,6]})

In [12]:
df3.shape

(3, 2)

In summary, DataFrame.size returns the total number of elements in the DataFrame, whereas DataFrame.shape returns a tuple of integers representing the dimensions of the DataFrame.

Q6. Which function of pandas do we use to read an excel file?

Answer -- To read an Excel file in pandas, we use the read_excel() function. This function is part of the pandas library and can be used to read data from an Excel file into a pandas DataFrame.

In [13]:
df4 = pd.read_excel('Datatype_Precision_Nullability_Example.xlsx')

In [14]:
df4

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,Emp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Emp_ID,Emp_Name,Dept_ID,DOJ,NaN,Datatype,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1,A,D01,2023-08-02 00:00:00,NaN,Precision,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2,B,D02,2023-09-14 00:00:00,NaN,Nullability,"Empty/Blank/0byte/Nothing-NULL, Atleast 1 byte...",NaN,NaN,NaN,NaN,NaN
4,NaN,3,C,D03,2023-10-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,SAM,
5,NaN,4,D,D04,2023-11-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,Not NULL,Not NULL
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NOTE - Space is also occupying bytes two space...,NaN,NaN
7,Datatype,Numeric(7),char,varchar,Date,NaN,NaN,256-max precision,the precision can't be too less or too more,NaN,NaN,NaN,NaN
8,NaN,INT-8 bytes(can't be more than 8-bytes that’s ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Precision,Number of bytes(max or min),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,9999999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username'
column.

In [15]:
import pandas as pd

def extract_username(df):
    # extract username from email address
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

# create a sample DataFrame with 'Email' column
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.johnson@example.com']}
df = pd.DataFrame(data)

# call the extract_username function
df = extract_username(df)

# print the updated DataFrame
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  bob.johnson@example.com  bob.johnson

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2


Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [16]:
import pandas as pd

def select_rows(df):
    #select rows based on condition
    selected_rows = df[(df['A']>5) & (df['B']<10)]
    return selected_rows

#create a sample Dataframe
data = {'A': [3,8,6,2,9], 'B': [5,2,9,3,1], 'C': [1,7,4,5,2]}
df = pd.DataFrame(data)

#call the select_rows function
selected_rows = select_rows(df)

#print the selected_rows
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [18]:
import pandas as pd

def calculate_statistics(df):
    # calculate mean, median, and standard deviation
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    
    # print the results
    print("Mean:", mean)
    print("Median:", median)
    print("Standard Deviation:", std_dev)

# create a sample DataFrame
data = {'Values': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

# call the calculate_statistics function
calculate_statistics(df)

Mean: 3.0
Median: 3.0
Standard Deviation: 1.5811388300841898

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [19]:
import pandas as pd

def add_moving_average(df):
    # calculate moving average using a window of size 7 and include current day
    ma = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    # add moving average as a new column in the DataFrame
    df['MovingAverage'] = ma
    
    # return the modified DataFrame
    return df

# create a sample DataFrame
data = {'Date': pd.date_range('2022-01-01', '2022-01-10'), 'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55]}
df = pd.DataFrame(data)

# call the add_moving_average function
df = add_moving_average(df)

# print the modified DataFrame
print(df)

        Date  Sales  MovingAverage
0 2022-01-01     10           10.0
1 2022-01-02     15           12.5
2 2022-01-03     20           15.0
3 2022-01-04     25           17.5
4 2022-01-05     30           20.0
5 2022-01-06     35           22.5
6 2022-01-07     40           25.0
7 2022-01-08     45           30.0
8 2022-01-09     50           35.0
9 2022-01-10     55           40.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [20]:
import pandas as pd

def add_weekday(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df['Date'] = pd.to_datetime(df['Date'])
df = add_weekday(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [21]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df.loc[mask]
    return selected_rows

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-05-02', '2023-05-19', '2023-05-21']})
selected_rows = select_rows_between_dates(df)
print(df)
print(selected_rows)

         Date
0  2023-01-01
1  2023-01-02
2  2023-05-02
3  2023-05-19
4  2023-05-21
         Date
0  2023-01-01
1  2023-01-02

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Answer - To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is pandas itself. You can import it using the following command:

In [22]:
import pandas as pd